@font-face {
    font-family: 'Calculadora'; /* Name your font family */
    src: url('../fonts/digital-7.ttf'); 
}

body {
    background-image: url("../images/fondo.jpg");
}

.marco{
    width: 500px;
    height:525px;
    border:3px solid;
    border-color:rgb(0, 0, 0);
    background-color: rgb(143, 147, 153);
    border-radius:10%;
    display:block;
    margin:auto;
}

.botones{
    position:block;
    margin:auto;
    padding-left:50.5px;
}

button{
    width:75px;
    height:75px;
    margin:2px;
    border-radius:10%;
    position: block;
}

button:hover {
    background-color: #04AA6D;
    color: white;
}

.equal{
    width:154px;
}

input{
    font-size:75px;
    font-family:'Calculadora';
    width: 400px;
    height:100px;
    display:block;
    margin:5px auto;
    text-align:right;
    background-color: black;
    color:#04AA6D;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: right;
    margin: 10px;
    background-color:red;
    border:solid 1px black;
}

.memoria{
    width: 500px;
    height: 246px;
    display:block;
    margin:auto;
    margin-top: 10px;
}

.memoria ul{
    background-color: black;
    color:green;
    border:2px solid white;
    font-family:'Calculadora';
    font-size:40px;
    list-style-type: none;
    padding:0;
    margin:0;
    width: 500px;
    height: 246px;
    overflow: auto;
}

.memoria li{
    align-content:center;
    text-align:center;
    border-bottom:1px solid white;
    height:40px;
    bottom:0;
}

.memoria li:hover{
    background-color: green;
    color: white;
    cursor: pointer
}

.memoria h3{
    color:green;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family:'Calculadora';
    font-size:40px;
    margin:auto;
}